@font-face {
    font-family: Roboto-Light;
    src: url(../Roboto/Roboto-Light.ttf);
  }
@font-face{
    font-family: Roboto-Regular ; 
    src : url(../Roboto/Roboto-Regular.ttf)
}

*{
    padding: 0;  
    margin: 0 ;  
    outline: none ;  
    font-family: Roboto-Regular  ;  
}
.container{
    padding: 0 ; 
}
.row{
    margin: 0 ; 
    padding: 0 ;   
}
.col-md-3 , .col-md-4 , .col-md-9{
    padding: 4px ; 
}
h1,  h2 , h3 ,h4, h5, h6 , p {
    margin: 0 ;  
    padding: 0 ; 
}
a:hover{
    text-decoration: none ;  
}
button{
    background: transparent  ;  
    border: none ; 
    outline: none;  
}
ul{
    list-style: none ;
    margin: 0;  
    padding:  0  ; 
}
.p0{
    padding: 0  !important ;
}
.m0{
    margin: 0 !important;
}
#main{
    box-shadow: 0 0 8px #a2a2a2; 
    transform-origin: 50% 50%  ;  
    transition: .5s  ; 
}
#header{
    border-bottom: 1px solid #a2a2a2; 
    box-shadow: 0 0 8px #a2a2a2; 
    position: relative ;  
    transition: 1s ;  
    background: #ffffff;  
    z-index: 2 ;
    width: 100% ;  
}
#header-top{
    display: flex ;  
    justify-content: space-between ;  
}
#banner-top{
    width: 600px ;  
    height: 60px ;
    margin: auto ; 
    background: #39a000 ; 
    overflow: hidden;
}
#banner-top img{
    width: 600px ; 
    height: 60px ;
}
#header-top h1{
    font-size: 80px ; 
    color: #39a000;  
}
#menu-header{
    display: flex ; 
    justify-content: space-between;    
    position: relative ;  
    background: #ffffff;  
    z-index: 2 ;
    transition: transform  1s ease-in ; 
}
#menu-header > div.logo-small{
    display: none ;  
}
#menu-header > div.logo-small h5{
    padding: 8px 0  ;
    color: #39a000; 
    font-size: 32px;  
}
#menu-header ul{
    display: flex ;  
    justify-content: space-between;  
    transition:  .5s ; 
}
#menu-header ul li{
    padding: 16px;  
    transition: .2s;  
    position: relative ;  
}
#menu-header ul li:hover{
    border-bottom: 3px solid #39a000; 
    padding: 15px 16px ;
}
#menu-header ul li:first-child{
    padding-left: 4px ;  
}
#menu-header ul li i{
    margin: 4px 8px ;  
}
#menu-header ul li a{
    font-size: 16px ;  
    color: #000;  
}
#search-top{
    justify-content: flex-end;
    display: flex ;    
    width: 25%;  
    padding: 10px 0 ;
}
#search-top input , #search-top button{
    border: none ;  
    border-bottom: 2px solid #000  ;  
    font-size: 14px;   
    height: 30px; 
    padding: 0 16px ; 
}
#search-top input {
    width: 100%;  
}
#content-hover-menutop{
    position: absolute ;  
    top : 100% ;
    left: 0 ;   
    padding: 16px ;
    border: 1px solid #afafaf;   
    background: #ffffff; 
    box-shadow: 0 0 2px #afafaf;  
    animation: content-menutop .3s ease-in 1 ;   
    overflow: hidden;  
    display: none;  
    transition: 0.3s ;  
    z-index: 2 ;
}
@keyframes content-menutop{
    from { opacity: 0 } 
    to {  opacity: 1 ;}
}
#content-hover-menutop .content{
    display: none  ; 
    justify-content: space-between;  
    margin: 4px 0  ;  
    animation: content-hover .5s ease-out 1;
}
@keyframes content-hover{
    from { transform: translateX(20px) ; opacity: 0 ;} 
    to { transform: translateX(0) ; opacity: 1  ;}
}
#content-hover-menutop .item{
    width: 19%;  
}
#content-hover-menutop .item .image{
    height: 150px; 
    overflow: hidden;   
    border: 1px solid #f3f3f3;  
}
#content-hover-menutop .item p{
    margin: 8px 0 ; 
    color: #000; 
    font-weight: 500;    
}
#content-hover-menutop .item img{
    width: 100%;  
}
.box-direction{
    display: flex;  
    justify-content: space-between;
    margin: 16px 0;  
}
.box-direction button{
    border: 1px solid #379a00;  
    color: #379a00;  
    padding: 0 8px ; 
    transition: .5s ;  
    font-size: 16px;  
}
.box-direction button:hover{
    border: 1px solid #379a00;  
    background: #379a00; 
    color: #ffffff; 
}
#menu-mobile{
    display: none ;
    justify-content: space-between;   
    position: fixed ;
    top: 0 ; 
    left: 0  ; 
    width: 100% ;  
    background: #ffffff;  
    border-bottom: 1px solid #a2a2a2; 
    box-shadow: 0 0 8px #a2a2a2; 
    z-index: 2 ;
    padding: 16px ;  
}
#menu-mobile button{
    outline: none ;  
    color: #39a000 ; 
    font-size: 20px;
}
#menu-mobile h1{
    color: #39a000 ; 
}
.mobile-menu-right, .mobile-menu-left{
    display: none;  
    position: fixed ; 
    width: 100% ;  
    background: linear-gradient(#39a000 , #FFEB3B) ; 
    height: 100vh  ; 
    z-index: 2 ;  
}
@keyframes moveRight{
    from {transform: translateX(100%)}
    to{ transform: translateX(0)}
}
@keyframes moveLeft{
    from {transform: translateX(-100%)}
    to{ transform: translateX(0)}
}
@keyframes moveRightClose{
    from {transform: translateX(0)}
    to{ transform: translateX(100%)}
}
@keyframes moveLeftClose{
    from {transform: translateX(0)}
    to{ transform: translateX(-100%)}
}
.mobile-menu-left ul{
    margin: 4px 0 8px 32px ;  
}
.mobile-menu-left > ul > li a{
    font-size: 20px ;  
    color: #ffffff;
    animation: move-a-menu-l 1s ease-in 1;
}
.mobile-menu-left > ul > li > ul a{
    font-size: 18px ;  
    margin-left: 10px ; 
    color: #ffffff;  
    animation: move-a-menu-l-1 1.5s ease-in 1;
}
@keyframes move-a-menu-l{
    from { margin-left :  -20px ; opacity: 0 ;}
    to { margin: 0 ;  opacity: 1 ;}
}
@keyframes move-a-menu-l-1{
    0% { margin-left :  -20px ; opacity: 0 ;} 
    70% { margin-left :  0 ; opacity: 0.5 ;}
    100% { margin-left: 10px ;  opacity: 1 ;}
}
.mobile-menu-right > div , .mobile-menu-left > div{
    justify-content: flex-end;   
    display: flex ; 
    padding: 16px 32px 8px 0 ;  
}
.mobile-menu-right button , .mobile-menu-left button {
   font-size: 30px ;  
   color: #ffffff; 
   animation: twirl-button 1s ease  1 ;
}
@keyframes twirl-button{
    from{ transform: rotateZ(0) ; opacity: 0 ; } 
    to { transform: rotateZ(360deg) ; opacity: 1 ;}
}
.mobile-menu-right {
    text-align: center;  
}
.mobile-menu-right input{
    background: transparent ;  
    padding: 4px 20px; 
    width:0 ; 
    border: none ;  
    border-bottom: 2px solid #f5f5f5; 
    color: #ffffff;    
    animation: input-search-top 1s ease-in  1 ; 
}
@keyframes input-search-top{
    from{ width: 0 } 
    to { width: 80% }
}
.mobile-menu-right p{
    font-size: 20px ;  
    color: #ffffff;    
}
footer .list-store{
    display: flex;  
    justify-content: space-between;
    padding: 32px 0 ;
}
footer .list-store img{
    width: 110px;  
    height: 40px ;
    border: 1px solid #ffffff;  
    box-shadow:  0 0 3px #000000 ;  
}
footer{
    padding: 16px  0 0 ; 
    background: #f9f9f9; 
}
#footer-top{
    padding: 32px; 
    border-top: 1px solid #e2e2e2; 
    border-bottom: 1px solid #e2e2e2 ; 
}
#footer-top img{
    width: 60px; 
    height: 60px;
}
#footer-top h3{
    text-align: center;  
    margin: 16px 0  ;
    color: #676767; 
}
.login-form{
    width: 600px;  
    margin: auto ;  
    display: flex ;  
    justify-content: space-around ;
}
.login-form button{
    padding: 8px 16px ; 
    width: 100%;  
    text-align: left;  
    font-size: 32px;  
    margin: 0 8px ; 
    background: #ffffff; 
    border-radius: 3px; 
}
.login-form button#login-google{
    border: 1px solid #ce0000; 
    box-shadow: 0 0 2px #ce0000; 
    color: #ce0000;
}
.login-form button#login-facebook{
    border: 1px solid #0003ce; 
    box-shadow: 0 0 2px #0003ce; 
    color: #0003ce; 
}
.login-form span{
    margin: 16px 8px ; 
    color: #656565; 
}
.pagination{
    margin: 4px ;
    display: flex ;
    justify-content: center ;  
}
.pagination ul{
    display: flex;
    justify-content: flex-start;
}
.pagination ul li{
    padding: 4px 10px ;
    border: 1px solid #39a000 ;
    border-radius: 2px ;
    color: #39a000  ; 
    margin: 4px ;  
    transition: 0.2s ;
}
.pagination ul li:hover , .pagination ul li.active{
    background: #39a000 ; 
    color: #fff ;
}
.dashdroad-top{   
    border: 1px solid #a2a2a2 ;
    box-shadow: 0 0 4px #a2a2a2 ;
}
.dashdroad-top > div  , .dashdroad-top ul {
    display: flex ;
    justify-content: start ;
}

.dashdroad-top li{
    font-size : 18px ;
    margin: 0 8px  ;
    padding: 8px  ;
}
.dashdroad-top p{
    font-size: 18px  ;
    margin: 0 16px 0 0 ;  
    padding: 8px 0 ;
}
.dashdroad-top li:hover , .dashdroad-top li.active{
    color: #39a000 ;
    border-bottom: 2px solid #39a000 ;
}
.cta-form-small{
    background: linear-gradient( #3dac00 , #3ba500);
    text-align: center ;
    margin: 8px 0 ; 
    padding: 16px ; 
    border-radius: 5px  ; 
    box-shadow: 0 0 2px #1e7e34  ;
}
.cta-form-small p{
    color: #fff ; 
}
.cta-form-small p:first-child{
    font-size: 24px ;  
}
.cta-form-small p:nth-child(2){
    font-size: 14px;
    text-align: justify ;
    margin: 16px 0  ;   

}
.cta-form-small span{
    font-size: 14px ; 
    color: #fff ; 
}
.cta-form-small input , .cta-form-small button{
    width: 100% ;  
    padding: 4px 8px  ; 
    border: 1px solid #ffffff ; 
    border-radius: 3px ;
    color: #000 ; 
    background: #fff ; 
    margin: 8px 0 ; 
}
.cta-form-small button {
   margin: 8px 0 ;  
}
.cta-form-small .login-facebook{
    color: #fff  ;  
    background: #0062cc; 
    font-size: 14px ; 
    border: none ; 
    padding: 8px ;  
    box-shadow: 0 0 2px #0062cc ;  
    transition: 0.2s  ; 
}
.cta-form-small .login-facebook:hover{
    background: #006add  ;
}
.border-box{
    border: 1px solid #a2a2a2 ; 
    border-radius: 4px ;
    margin: 8px 0 ; 
}
footer{
    margin: 64px 0 0  0 ; 
}
#footer{
    padding: 32px 0 0 0 ;
    border-bottom: 1px solid #e2e2e2; 
}
#footer ul li{
    margin: 8px; 

}
#footer ul li a {
    font-size: 16px;
    color: #474646; 
}
#footer h1{
    color: #006f1a;
}
#footer p{
    font-size: 14px; 
    text-align: justify;  
    padding: 4px 16px 0 0 ;
    color: #989898; 
}
#footer-bottom {
    text-align: center;  
    padding: 8px;  
    font-size: 14px; 
    color: #777777 ; 
}
@media only screen and (max-width : 1200px){
    #menu-header ul li{
        padding: 16px  8px  ; 
    }
}
@media only screen and (max-width: 990px) {
    
    #search-top{
        display: none ;  
    }
    #menu-header ul{
        width: 100%  ; 
    }
    #content-hover-menutop{
        display: none ;  
    }
    footer .list-store{
        display: none; 
    }
    #banner-top{
        width: 400px ;  
        height: 40px ;
        margin: auto ; 
        background: #39a000 ; 
        overflow: hidden;
    }
    #banner-top img{
        width: 400px ; 
        height: 40px  ;
    }
}

@media only screen and (max-width: 768px) {
    #menu-header > div.logo-small{
        display: none ; 
    }
    #header-top , #menu-header{
        display: none ; 
    }
    #header{
        padding: 0 ;  
    }
    #menu-mobile{
        display: flex ; 
           
    }
    .container{
        margin: 0  ; 
        padding: 0 16px ;
        max-width: 768px  ;  
    }
    .login-form{
        width: auto;  
    }
    #footer{
        padding: 0 16px ; 
    }
    #footer .col-md-2 , #footer .col-md-3:last-child {
        display: none;  
    }
    .d-sm-none{
        display: none ;
    }
}
@media only screen and (max-width: 576px){
    #footer-top{
        display: none;  
    }
    
    #footer .col-md-3 , #footer .col-md-2{
        display: none;  
    }
}